.wp-block-rss {
	margin-bottom: $spacing_size-md;

	&.alignleft,
	&.alignright {
		margin-bottom: $spacing_size-xxs;
	}

	&.is-grid {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		list-style: none;
		li {
			border-bottom: px-to-rem(2) solid $block-grid-border-color;
			margin: 0 0 $spacing_size-sm 0;
			width: 100%;

			@include mediaq(screen, 48em) {
				margin: 0 $spacing_size-md $spacing_size-md 0;
			}
		}
	}

	@for $i from 2 through 9 {
		&.columns-#{$i} li {
			@include mediaq(screen, 48em) {
				width: calc((100% / #{$i}) - #{$spacing_size-md});
			}
		}

		&.columns-#{$i} li:nth-child(#{$i}n) {
			@include mediaq(screen, 48em) {
				margin: 0 0 $spacing_size-md 0;
			}
		}
	}

	li {
		padding-bottom: $spacing_size-sm;

		@include mediaq(screen, 80em) {
			padding-bottom: $spacing_size-md;
		}
	}

	.wp-block-rss__item-publish-date,
	.wp-block-rss__item-author {
		display: block;
		color: $block-meta-color;
		font-size: $block-meta-font-size;
		text-transform: capitalize;
	}

	.wp-block-rss__item-excerpt {
		font-size: 1rem;
		margin: $spacing_size-xxs 0 0;
	}
}
