.wp-block-buttons:not(.alignleft):not(.alignright) {
	margin-bottom: $spacing_size-md;
}

.wp-block-button {
	color: $button-color;

	.wp-block-button__link {
		display: inline-block;
		border: none;
		border-radius: px-to-rem(2);
		box-shadow: px-to-rem(1) px-to-rem(1) 0 px-to-rem(2)
			$button-shadow-color;
		color: inherit;
		cursor: pointer;
		padding: $spacing_size-xxs $spacing_size-sm;
		text-shadow: px-to-rem(1) px-to-rem(1) px-to-rem(1) rgba(0, 0, 0, 0.5);
		position: relative;
		left: 0;
		top: 0;
		transition: all 80ms ease;
		max-width: 100%;
		width: auto;

		&:hover {
			text-decoration: none;
		}

		&:focus {
			text-decoration: none;
		}

		&:active {
			box-shadow: none;
			text-decoration: none;
			outline: none;
			top: px-to-rem(3);
			left: px-to-rem(3);
		}

		&.no-border-radius {
			border-radius: 0;
		}

		&.has-background {
			box-shadow: px-to-rem(1) px-to-rem(1) 0 px-to-rem(1)
				rgba(0, 0, 0, 0.7);

			&:hover {
				opacity: 0.85;
			}

			&:focus {
				opacity: 0.85;
			}

			&:active {
				box-shadow: none;
				opacity: 1;
			}
		}

		&:not(.has-background) {
			background: $button-background-color;

			&:hover {
				background: $button-hover-background-color;
			}

			&:focus {
				background: $button-focus-background-color;
			}

			&:active {
				background: $button-active-background-color;
			}
		}
	}

	&.is-style-squared {
		.wp-block-button__link {
			border-radius: 0;
		}
	}

	&.is-style-outline {
		color: $button-background-color;

		.wp-block-button__link:not(.has-background) {
			background: transparent;
			border: px-to-rem(2) solid;
			box-shadow: px-to-rem(1) px-to-rem(1) 0 0
				rgba($button-shadow-color, 0.85);
			text-shadow: px-to-rem(1) px-to-rem(1) 0 rgba(0, 0, 0, 0.2);

			&:hover {
				background: transparent;
				opacity: 0.75;
			}

			&:focus {
				background: transparent;
				opacity: 0.75;
			}

			&:active {
				background: transparent;
				opacity: 1;
			}
		}
	}

	&.alignleft,
	&.alignright {
		padding-bottom: px-to-rem(3);
		padding-right: px-to-rem(3);
		margin-bottom: $spacing_size-xxs;
	}
}
