.wp-block-columns {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: $spacing_size-md;

	@include mediaq(screen, 37.5em) {
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	&.are-vertically-aligned-top {
		align-items: flex-start;
	}

	&.are-vertically-aligned-center {
		align-items: center;
	}

	&.are-vertically-aligned-bottom {
		align-items: flex-end;
	}

	&.has-background {
		padding: $spacing_size-xs $spacing_size-sm;

		@include mediaq(screen, 48em) {
			padding: $spacing_size-sm $spacing_size-md;
		}
	}
}

.wp-block-column {
	flex-basis: 100%;
	flex-grow: 1;
	min-width: 100%;
	overflow-wrap: break-word;
	word-break: break-word;
	@include mediaq(screen, 37.5em) {
		flex-basis: calc(50% - #{$spacing_size-lg});
		flex-grow: 0;
		min-width: auto;
		&:not(:first-child) {
			margin-left: $spacing_size-lg;
		}
	}

	&.is-vertically-aligned-top {
		align-self: flex-start;
	}

	&.is-vertically-aligned-center {
		align-self: center;
	}

	&.is-vertically-aligned-bottom {
		align-self: flex-end;
	}

	p:last-child {
		margin-bottom: 0;
	}
}
