.site {
	position: relative;
	margin: 0 auto;
}

.site-container {
	max-width: px-to-rem($container_xs);
	width: calc(100% - (#{$spacing_size-md} * 2));
	margin: 0 auto;

	@include mediaq(screen, 37.5em) {
		max-width: calc(100% - (#{$spacing_size-md} * 2));
	}

	@include mediaq(screen, 48em) {
		max-width: calc(100% - (#{$spacing_size-lg} * 2));
	}

	@include mediaq(screen, 64em) {
		max-width: px-to-rem($container_lg);
	}

	@include mediaq(screen, 160em) {
		max-width: px-to-rem($container_xxl);
	}
}

.content-container {
	margin: 0 auto;
	padding: 0;
	max-width: 100vw;
	width: 100%;

	.entry-content > *:not(.alignleft):not(.alignright),
	.entry-header > *,
	.page-header > *,
	.page-content > *,
	.comments-area > *,
	.sidebar {
		margin-left: auto;
		margin-right: auto;
	}

	.entry-content
		> :not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright),
	.entry-header > *,
	.page-header > *,
	.page-content > *,
	.comments-area > *,
	.sidebar {
		max-width: px-to-rem($container_xs);
		width: calc(100% - (#{$spacing_size-md} * 2));

		@include mediaq(screen, 37.5em) {
			width: calc(100% - (#{$spacing_size-lg} * 2));
		}
	}

	.entry-content > .alignleft,
	.entry-content > .alignright {
		@include mediaq(screen, 48em) {
			max-width: px-to-rem($container_xs/2);
		}
	}

	.entry-content > .alignleft {
		margin-left: $spacing_size-md;

		@include mediaq(screen, 37.5em) {
			margin-left: $spacing_size-lg;
		}

		@include mediaq(screen, 55em) {
			margin-left: calc((100vw - #{px-to-rem($container_xs)}) / 2);
		}
	}

	.entry-content > .alignright {
		margin-right: $spacing_size-md;

		@include mediaq(screen, 37.5em) {
			margin-right: $spacing_size-lg;
		}

		@include mediaq(screen, 55em) {
			margin-right: calc((100vw - #{px-to-rem($container_xs)}) / 2);
		}
	}
}

body:not(.has-sidebar) {
	.content-container {
		.entry-content
			> :not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright),
		.entry-header > *,
		.page-header > *,
		.page-content > *,
		.comments-area > * {
			@include mediaq(screen, 80em) {
				max-width: px-to-rem($container_sm);
				width: calc(100% - (#{$spacing_size-md} * 2));
			}

			@include mediaq(screen, 160em) {
				max-width: px-to-rem($container_md);
				width: calc(100% - (#{$spacing_size-md} * 2));
			}
		}
	}

	.entry-content > .alignleft,
	.entry-content > .alignright {
		@include mediaq(screen, 80em) {
			max-width: px-to-rem($container_sm/2);
		}

		@include mediaq(screen, 160em) {
			max-width: px-to-rem($container_md/2);
		}
	}

	.entry-content > .alignleft {
		@include mediaq(screen, 64em) {
			margin-right: $spacing_size-md;
		}

		@include mediaq(screen, 80em) {
			margin-left: calc((100vw - #{px-to-rem($container_sm)}) / 2);
		}

		@include mediaq(screen, 160em) {
			margin-left: calc((100vw - #{px-to-rem($container_md)}) / 2);
		}
	}

	.entry-content > .alignright {
		@include mediaq(screen, 64em) {
			margin-left: $spacing_size-md;
		}

		@include mediaq(screen, 80em) {
			margin-right: calc((100vw - #{px-to-rem($container_sm)}) / 2);
		}

		@include mediaq(screen, 160em) {
			margin-right: calc((100vw - #{px-to-rem($container_md)}) / 2);
		}
	}
}

.has-sidebar .content-container {
	@include mediaq(screen, 64em) {
		display: flex;
		flex-flow: row nowrap;
	}

	.comments-area > *,
	.entry-content
		> :not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright),
	.entry-header > *,
	.entry-footer > *,
	.page-header > *,
	.page-content > *,
	.site-main > .pagination > * {
		@include mediaq(screen, 80em) {
			max-width: calc(100% - ((100vw - #{px-to-rem($container_lg)}) / 2));
			width: 100%;
			margin-left: calc((100vw - #{px-to-rem($container_lg)}) / 2);
		}
	}

	.entry-content > .alignleft {
		@include mediaq(screen, 64em) {
			margin-left: $spacing_size-lg;
			max-width: calc(50%);
		}

		@include mediaq(screen, 80em) {
			margin-left: calc((100vw - #{px-to-rem($container_lg)}) / 2);
			max-width: calc((#{px-to-rem($container_lg)} * 0.65) / 2);
		}
	}

	.entry-content > .alignright {
		@include mediaq(screen, 64em) {
			margin-right: 0;
			max-width: calc(50%);
		}

		@include mediaq(screen, 80em) {
			max-width: calc((#{px-to-rem($container_lg)} * 0.65) / 2);
		}
	}

	.entry-content > .alignwide {
		@include mediaq(screen, 64em) {
			width: auto;
			margin-left: calc(30% / 0.62 - 30vw);
			margin-right: 0;
		}

		@include mediaq(screen, 80em) {
			width: calc((75rem * 0.68) + ((95vw - 75rem) / 2));
			margin-left: auto;
		}

		@include mediaq(screen, 100em) {
			width: calc((75rem * 0.65) + ((90vw - 75rem) / 2));
		}
	}
}
