.site-main .post,
.site-main .page {
	margin: 0 0 $spacing_size-md;

	@include mediaq(screen, 48em) {
		margin: 0 0 $spacing_size-lg;
	}

	@include mediaq(screen, 100em) {
		margin: 0 0 $spacing_size-xl;
	}

	&.sticky {
		border: px-to-rem(1) solid $post-sticky-border-color;
		padding: $spacing_size-md $spacing_size-md $spacing_size-xxxs;
	}
}

.single .site-main .post,
.page .site-main .page {
	margin: 0 0 $spacing_size-lg;

	@include mediaq(screen, 64em) {
		margin: 0 0 $spacing_size-xl;
	}

	@include mediaq(screen, 100em) {
		margin: 0 0 $spacing_size-xxl;
	}
}
