@charset 'utf-8';
//=============================================================================
// Configuration
//=============================================================================
@import "helpers/variables";
@import "helpers/functions";
@import "helpers/mixins";

//=============================================================================
// Theme info
//=============================================================================
@import "base/theme_info";

/*!============================================================================
>>> TABLE OF CONTENTS:
===============================================================================
1. Normalize CSS
2. Helpers
	2.1. Accessibility
	2.2. Alignments
	2.3. Clearings
3. Common Elements
	3.1. Typography
	3.2. Elements
4. Layout
	4.1. Structure
	4.2. Templates
5. Modules
	5.1. Main navigation
	5.2. Pagination & Posts navigation
	5.3. Comments
	5.4. Forms
	5.5. Gallery
	5.6. Widgets
	5.7. Gutenberg blocks
	5.8. Woocommerce
=============================================================================*/
@import "typography/fonts";

/*=============================================================================
1. Normalize CSS
Resetting and rebuilding styles have been helped along thanks to the fine work
of Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
=============================================================================*/
@import "base/normalize";

/*=============================================================================
2. Helpers
=============================================================================*/

/*=============================================================================
2.1. Accessibility
=============================================================================*/
@import "helpers/accessibility";

/*=============================================================================
2.2. Alignments
=============================================================================*/
@import "helpers/alignments";

/*=============================================================================
2.3. Clearings
=============================================================================*/
@import "helpers/clearings";

/*=============================================================================
3. Common Elements
=============================================================================*/
@import "base/base";

/*=============================================================================
3.1. Typography
=============================================================================*/
@import "typography/headings";
@import "typography/phrasing";

/*=============================================================================
3.2. Elements
=============================================================================*/
@import "elements/blockquotes";
@import "elements/preformat";
@import "elements/lists";
@import "elements/tables";
@import "elements/forms";
@import "elements/links";
@import "elements/media";

/*=============================================================================
4. Layout
=============================================================================*/
@import "layout/layout";

/*=============================================================================
4.1. Structure
=============================================================================*/
@import "layout/header";
@import "layout/main";
@import "layout/sidebar";
@import "layout/footer";

/*=============================================================================
4.2. Templates
=============================================================================*/
@import "layout/frontpage";
@import "layout/author";
@import "layout/posts-and-pages";
@import "layout/taxonomy";

/*=============================================================================
5. Modules
=============================================================================*/

/*=============================================================================
5.1. Main navigation
=============================================================================*/
@import "modules/navigation";

/*=============================================================================
5.2. Pagination & Posts navigation
=============================================================================*/
@import "modules/pagination";
@import "modules/readmore";

/*=============================================================================
5.3. Comments
=============================================================================*/
@import "modules/comments";

/*=============================================================================
5.4. Forms
=============================================================================*/
@import "modules/search";

/*=============================================================================
5.5. Gallery
=============================================================================*/
@import "modules/gallery";

/*=============================================================================
5.6. Widgets
=============================================================================*/
@import "modules/widgets";

/*=============================================================================
5.7. Gutenberg blocks
=============================================================================*/
@import "modules/blocks";

/*=============================================================================
5.8. Woocommerce
=============================================================================*/
@import "modules/woocommerce";
